<ul class = 'mb-4'>
  <li class = 'btn btn-success'>Name: <%= user.name%></li>
  <span class="profile-link">
    <li> <%= link_to 'See Profile',  user_path(user), class: 'btn btn-warning' %> </li>
  </span>
  <li> <%= render_friendship_btn user%> </li>
</ul>
<hr>